In [33]:
import pandas as pd
donor_data = "../Python_Unit_Assessment/donors2008.csv"

In [34]:
donor_data_df = pd.read_csv(donor_data, encoding="ISO-8859-1")
donor_data_df.head(10)

,LastName,FirstName,Employer,City,State,Zip,Amount,FIELD8
0,Aaron,Eugene,State Department,Dulles,VA,20189,500.0,NaN
1,Abadi,Barbara,Abadi & Co.,New York,NY,10021,200.0,NaN
2,Adamany,Anthony,Retired,Rockford,IL,61103,500.0,NaN
3,Adams,Lorraine,Self,New York,NY,10026,200.0,NaN
4,Adams,Marion,None,Exeter,NH,03833,100.0,NaN
5,Adams,Michelle,Gordon Training,Carlsbad,CA,92009,100.0,NaN
6,Adamson,Nelson,Marquette General Hosp,Iron Mountain,MI,49801,500.0,NaN
7,Adelman,Clifford,Self,Kensington,MD,20895,250.0,NaN
8,Adida,Ben,Harvard University,Mountain View,CA,94043,200.0,NaN
9,Adler,Michael M.,"Adler Group, Inc.",Miami Beach,FL,33172,5000.0,NaN

In [37]:
amount_df = donor_data_df.groupby(['State']).groups

amount_df

{'AE': [864], 'AK': [669, 1008, 1461, 1465, 1573, 1710], 'AL': [143, 205, 234, 505, 745, 1235, 1310, 1723], 'AP': [1433], 'AR': [185, 303, 916, 1036, 1666], 'AZ': [128, 248, 343, 457, 498, 586, 597, 724, 920, 937, 991, 1026, 1054, 1215, 1300, 1322, 1338, 1406, 1424, 1457, 1542, 1602, 1643, 1714, 1733], 'CA': [5, 8, 19, 25, 28, 31, 34, 36, 39, 46, 53, 54, 59, 76, 84, 85, 94, 95, 106, 109, 111, 114, 115, 134, 142, 146, 154, 155, 157, 158, 166, 169, 173, 175, 177, 183, 203, 206, 211, 212, 217, 222, 223, 227, 229, 232, 236, 238, 241, 245, 251, 253, 254, 257, 258, 264, 265, 273, 276, 278, 285, 289, 298, 300, 306, 309, 314, 316, 317, 322, 323, 325, 333, 352, 356, 357, 359, 363, 368, 373, 374, 378, 379, 386, 403, 407, 411, 418, 430, 442, 448, 451, 454, 456, 462, 463, 465, 472, 481, 485, ...], 'CO': [37, 48, 113, 329, 338, 347, 381, 487, 515, 547, 699, 703, 719, 768, 776, 783, 803, 824, 860, 910, 913, 981, 1132, 1150, 1179, 1180, 1249, 1257, 1296, 1309, 1443, 1456, 1458, 1493, 1604, 1620, 1628, 1679, 1759, 1767], 'CT': [140, 315, 389, 486, 534, 538, 567, 569, 694, 725, 735, 795, 837, 857, 875, 934, 959, 1029, 1058, 1061, 1139, 1182, 1214, 1261, 1270, 1315, 1316, 1363, 1390, 1393, 1511, 1590, 1732, 1748, 1751], 'DC': [41, 57, 68, 92, 102, 112, 122, 162, 235, 350, 362, 367, 444, 528, 542, 589, 592, 614, 654, 668, 731, 793, 796, 821, 828, 841, 870, 890, 892, 1003, 1017, 1018, 1093, 1147, 1193, 1209, 1276, 1361, 1455, 1488, 1514, 1548, 1567, 1586, 1614, 1641, 1646, 1658, 1665, 1696, 1697, 1739], 'DE': [733, 839, 858, 1612, 1742], 'FL': [9, 27, 35, 49, 51, 73, 101, 171, 213, 219, 231, 233, 321, 327, 353, 354, 394, 437, 446, 476, 507, 513, 548, 553, 560, 600, 617, 632, 645, 692, 700, 734, 801, 805, 827, 853, 882, 884, 886, 952, 965, 978, 980, 982, 987, 1037, 1056, 1102, 1159, 1160, 1170, 1202, 1212, 1216, 1223, 1271, 1274, 1283, 1302, 1317, 1376, 1403, 1412, 1518, 1544, 1577, 1583, 1635, 1636, 1638, 1655, 1662, 1677, 1715, 1717, 1725, 1761, 1764], 'GA': [33, 60, 117, 141, 163, 196, 215, 296, 519, 643, 650, 741, 747, 763, 764, 789, 792, 847, 985, 1079, 1415, 1476, 1557, 1621, 1713, 1770], 'HI': [292, 351, 488, 758, 813, 924, 955, 1262, 1492, 1579, 1639], 'IA': [802, 819, 1675, 1681, 1693], 'ID': [32, 294, 545, 1086, 1280, 1323], 'IL': [2, 10, 43, 77, 81, 82, 105, 129, 131, 132, 137, 147, 152, 168, 172, 181, 252, 270, 284, 293, 307, 324, 336, 340, 341, 349, 406, 429, 435, 445, 459, 460, 491, 555, 578, 587, 620, 655, 673, 695, 710, 716, 739, 791, 797, 799, 854, 855, 863, 868, 909, 939, 940, 961, 972, 983, 988, 993, 1009, 1023, 1025, 1049, 1057, 1077, 1145, 1163, 1167, 1172, 1175, 1188, 1200, 1252, 1263, 1307, 1314, 1321, 1334, 1365, 1374, 1405, 1414, 1421, 1434, 1435, 1452, 1471, 1473, 1495, 1503, 1525, 1540, 1559, 1564, 1596, 1598, 1605, 1634, 1647, 1694, 1709, ...], 'IN': [290, 311, 420, 1010, 1060, 1162, 1206, 1480], 'KS': [23, 104, 176, 371, 861, 1068, 1226, 1532, 1664], 'KY': [99, 135, 178, 259, 566, 582, 811, 889, 1095, 1416], 'LA': [708, 1241, 1396, 1507, 1551, 1616], 'MA': [18, 22, 56, 88, 100, 127, 144, 170, 187, 195, 199, 318, 334, 339, 342, 372, 417, 438, 439, 477, 503, 504, 522, 532, 540, 588, 685, 688, 696, 704, 705, 715, 723, 746, 750, 806, 809, 815, 851, 873, 885, 905, 908, 931, 954, 979, 1035, 1065, 1066, 1080, 1108, 1112, 1127, 1128, 1130, 1205, 1208, 1210, 1339, 1367, 1389, 1460, 1485, 1490, 1500, 1547, 1592, 1724, 1728, 1775], 'MD': [7, 20, 40, 62, 69, 70, 72, 110, 116, 130, 189, 220, 288, 305, 312, 328, 408, 421, 425, 434, 458, 480, 495, 502, 508, 561, 598, 633, 647, 660, 662, 667, 679, 714, 736, 742, 752, 761, 769, 779, 785, 820, 840, 898, 903, 925, 928, 932, 994, 995, 1005, 1078, 1098, 1125, 1131, 1187, 1240, 1245, 1282, 1291, 1305, 1330, 1332, 1354, 1358, 1366, 1371, 1386, 1394, 1399, 1418, 1419, 1467, 1474, 1522, 1535, 1587, 1594, 1629, 1632, 1683, 1704, 1749, 1756, 1774], 'ME': [26, 29, 202, 335, 966, 992, 1001, 1311, 1510], 'MI': [6, 44, 45, 50, 80, 197, 277, 280, 369, 377, 402, 492, 541, 635, 727, 775, 933, 950, 1032, 1189, 1258, 1439, 1453, 1534, 1541, 1618, 1698], 'MN': [107, 228, 237, 279, 308, 382, 384, 390, 431, 455, 611, 753, 773, 818, 878, 996, 1015, 1084, 1119, 1199, 1236, 1275, 1294, 1477, 1650], 'MO': [47, 208, 225, 286, 385, 414, 452, 535, 653, 807, 1085, 1243, 1279, 1340, 1449, 1626, 1700, 1755], 'MS': [17, 849, 1527], 'MT': [520, 634, 786, 923, 957, 1695], 'NC': [86, 209, 332, 344, 361, 400, 521, 536, 563, 599, 604, 644, 691, 712, 730, 749, 772, 782, 836, 888, 895, 964, 1191, 1192, 1196, 1246, 1267, 1292, 1298, 1462, 1466, 1487, 1501, 1521, 1533, 1601, 1672, 1676, 1716, 1773], 'NE': [777, 1491, 1769], 'NH': [4, 525, 544, 568, 596, 1072, 1470, 1578], 'NJ': [66, 83, 108, 161, 262, 271, 301, 302, 355, 461, 494, 663, 666, 800, 866, 881, 887, 891, 912, 970, 977, 1105, 1129, 1155, 1190, 1218, 1228, 1269, 1289, 1295, 1306, 1320, 1355, 1370, 1411, 1498, 1523, 1539, 1543, 1617, 1633, 1682, 1699, 1726, 1753], 'NM': [52, 64, 103, 119, 226, 260, 287, 376, 405, 591, 709, 817, 838, 880, 1255, 1278, 1342, 1508, 1553, 1588, 1685, 1705, 1727], 'NV': [194, 214, 218, 274, 440, 441, 450, 474, 490, 531, 737, 771, 919, 1028, 1561], 'NY': [1, 3, 11, 13, 14, 16, 30, 42, 67, 79, 89, 90, 97, 120, 133, 136, 148, 149, 165, 174, 184, 191, 192, 193, 207, 250, 255, 256, 261, 269, 272, 281, 320, 326, 346, 360, 375, 383, 391, 393, 395, 397, 401, 428, 432, 436, 449, 470, 478, 479, 482, 483, 501, 510, 527, 533, 549, 551, 570, 571, 581, 609, 615, 625, 626, 630, 637, 640, 664, 672, 674, 678, 684, 686, 689, 711, 713, 717, 721, 726, 738, 740, 748, 754, 765, 767, 787, 823, 825, 826, 830, 846, 856, 859, 865, 867, 876, 883, 893, 894, ...], 'OH': [145, 151, 230, 636, 682, 756, 842, 1044, 1109, 1154, 1222, 1265, 1359, 1362, 1430, 1483], 'OK': [310, 468, 778, 1020, 1198, 1595], 'OR': [38, 63, 266, 268, 648, 681, 728, 729, 877, 917, 1043, 1076, 1094, 1106, 1281, 1297, 1324, 1431, 1729], 'PA': [65, 87, 98, 123, 125, 126, 198, 275, 295, 453, 464, 496, 523, 554, 574, 622, 628, 646, 658, 670, 835, 914, 949, 1031, 1052, 1096, 1097, 1116, 1166, 1201, 1234, 1238, 1253, 1272, 1442, 1446, 1447, 1479, 1545, 1571, 1574, 1576, 1660, 1673, 1771], 'QC': [179], 'RI': [244, 267, 467, 514, 590, 986, 1030, 1224, 1536], 'SC': [139, 304, 639, 642, 656, 829, 942, 1138, 1148, 1194], 'TN': [71, 399, 419, 426, 433, 469, 744, 804, 1004, 1343, 1387, 1423, 1437, 1652], 'TX': [15, 24, 55, 78, 91, 180, 201, 239, 240, 291, 337, 348, 358, 366, 387, 396, 404, 410, 413, 415, 423, 447, 471, 475, 518, 564, 616, 624, 629, 652, 661, 677, 683, 702, 720, 743, 781, 798, 808, 832, 845, 852, 871, 897, 911, 918, 943, 947, 953, 958, 1064, 1075, 1089, 1143, 1151, 1152, 1158, 1195, 1219, 1225, 1248, 1303, 1319, 1337, 1344, 1395, 1468, 1469, 1504, 1517, 1552, 1575, 1582, 1593, 1623, 1648, 1654, 1661, 1663, 1667, 1684, 1702, 1720, 1721, 1746, 1752, 1766, 1768], 'UT': [74, 1230], 'VA': [0, 58, 61, 75, 93, 124, 138, 153, 164, 204, 210, 242, 243, 246, 249, 263, 283, 313, 319, 331, 364, 370, 412, 416, 422, 427, 466, 473, 497, 499, 506, 509, 526, 575, 594, 608, 613, 659, 675, 676, 690, 707, 718, 760, 766, 780, 810, 831, 834, 879, 927, 938, 960, 975, 1013, 1019, 1027, 1041, 1042, 1045, 1046, 1048, 1059, 1063, 1087, 1088, 1123, 1137, 1146, 1173, 1184, 1233, 1285, 1286, 1301, 1318, 1328, 1373, 1407, 1408, 1413, 1444, 1464, 1494, 1529, 1538, 1603, 1607, 1609, 1653, 1674, 1686, 1687, 1688, 1689, 1690, 1692, 1706, 1708, 1741, ...], 'VI': [96, 1203], 'VT': [150, 186, 221, 224, 380, 603, 612, 941, 1570], 'WA': [12, 118, 156, 159, 160, 167, 188, 190, 200, 216, 297, 299, 330, 345, 388, 392, 424, 443, 484, 524, 543, 546, 573, 602, 619, 627, 649, 651, 671, 706, 732, 755, 945, 1014, 1016, 1115, 1121, 1153, 1293, 1327, 1346, 1356, 1397, 1436, 1451, 1506, 1509, 1512, 1524, 1560, 1611, 1718, 1740, 1765], 'WI': [182, 247, 282, 365, 398, 409, 751, 1149, 1404, 1625, 1722, 1757], 'WV': [21, 848, 1668], 'WY': [121, 511]}